
.jumbotron{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: url(backgrounds/2.jpg) no-repeat
      center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 14px;
    height: 540px;
    border-radius: 0 !important;
}